@import "../bootstrap/less/variables";
@import "../bootstrap/less/mixins";
@import "../bootstrap/less/wells";
@import "../bootstrap/less/utilities";
@import "direct-chat";

/* by default slidebar like a well */
.sidebar-left {
  .well;
}
@media (min-width: 768px) {
  .sidebar-left {
    .affix;
    top: 51px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: @well-bg;
    border-right: 1px solid darken(@well-bg, 6.5%);
    border-radius: 0px;
    margin-bottom: 0px;
  }
}

.indented {
  margin-left: 25px; /* LTR */
}

.node-user-picture img {
  float: left; /* LTR */
  height: 20px;
  margin: 1px 5px 0 0; /* LTR */
}

/* Enable Bootstrap 3 Hover Dropdowns */
@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
    left: 15%;
    top: 75%;
  }
}

.nav > li.active {
  background-color: @gray-lighter;
}