/**
 * AdminLTE Control Panel Template (v2.3.0)
 * Component: Direct Chat
 * -------------------
 * Copyright (c) 2014-2015 almasaeed2010
 * https://almsaeedstudio.com/
 */
.direct-chat {
  .box-body {
    .border-bottom-radius(0);
    position: relative;
    overflow-x: hidden;
    padding: 0;
  }
  &.chat-pane-open {
    .direct-chat-contacts {
      .translate(0, 0);
    }
  }
}
.direct-chat-messages {
  .translate(0, 0);
  padding: 10px;
  height: 250px;
  overflow: auto;
}
.direct-chat-msg,
.direct-chat-text {
  display: block;
}
.direct-chat-msg {
  .clearfix();
  margin-bottom: 10px;
}
.direct-chat-messages,
.direct-chat-contacts {
  .transition-transform(.5s ease-in-out);
}
.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: @well-bg;
  border: 1px solid @gray-lighter;
  margin: 5px 0 0 50px;
  color: #444;

  //Create the arrow
  &:after,
    &:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: @gray-lighter;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
  }

  &:after {
    border-width: 5px;
    margin-top: -5px;
  }
  &:before {
    border-width: 6px;
    margin-top: -6px;
  }
  .right & {
    margin-right: 50px;
    margin-left: 0;
    &:after,
      &:before {
      right: auto;
      left: 100%;
      border-right-color: transparent;
      border-left-color: @gray-lighter;
    }
  }
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
  .right & {
    float: right;
  }
}
.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.direct-chat-name {
  font-weight: 600;
}
.direct-chat-timestamp {
  color: #999;
}
//Direct chat contacts pane
.direct-chat-contacts-open {
  .direct-chat-contacts {
    .translate(0, 0);
  }
}
.direct-chat-contacts {
  .translate(101%, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  background: #222d32;
  color: #fff;
  overflow: auto;
}

//Contacts list -- for displaying contacts in direct chat contacts pane
.contacts-list {
  &:extend(.list-unstyled);
  > li {
    .clearfix();
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0;
    &:last-of-type {
      border-bottom: none;
    }
  }
}
.contacts-list-img {
  border-radius: 50%;
  width: 40px;
  float: left;
}
.contacts-list-info {
  margin-left: 45px;
  color: #fff;
}
.contacts-list-name,
.contacts-list-status {
  display: block;
}
.contacts-list-name {
  font-weight: 600;
}
.contacts-list-status {
  font-size: 12px;
}
.contacts-list-date {
  color: #aaa;
  font-weight: normal;
}
.contacts-list-msg {
  color: #999;
}

//Direct Chat Variant
.direct-chat-variant(@bg-color; @color: #fff) {
  .right > .direct-chat-text {
    background: @bg-color;
    border-color: @bg-color;
    color: @color;
    &:after,
    &:before {
      border-left-color: @bg-color;
    }
  }
}

//Direct Chat Variants
.direct-chat-danger {
  .direct-chat-variant(@brand-danger);
}
.direct-chat-primary {
  .direct-chat-variant(@brand-primary);
}
.direct-chat-warning {
  .direct-chat-variant(@brand-warning);
}
.direct-chat-info {
  .direct-chat-variant(@brand-info);
}
.direct-chat-success {
  .direct-chat-variant(@brand-success);
}

//Custom code
.direct-chat-actions {
  position: relative;
  padding: 0;
  margin: 5px 0 0 50px;
}